.Title {
    justify-content: center;
    display: flex;
    margin: 20px;
    color: #210070b5;
    font-size: 30px;
}
body {
    background-color: mistyrose;
}
.tabla {
    border: 2px solid;
    padding: 20px;
}
.tipos {
    margin-bottom: 20px;
    margin-left: 132px;
    font-size:20px;
}