main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #90604A;
}
.center {
    padding: 36px;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.Pet {
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.row container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2, a, p, h1 {
    font-family: 'Playfair Display', serif;
    color: white;

}

.row {
    margin-left: auto;
    margin-right: auto;
}

.Pet img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    margin-left: auto;
}

.Pet h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.Pet p, .Pet a {
    position: absolute;
    color: white;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
}

.Pet p {
    inset: auto auto 80px 30px;
}

.Pet a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}

.Pet:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
}

.Pet:hover p, .Pet:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}

.Pet:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 0.5;
}

.material-symbols-outlined {
    vertical-align: middle;
}
