img {
    width: 100%;
}

body {
    background: blanchedalmond;
}

.login {
    background: aqua;
    height: 1000px;
    width: 100%;
    background: radial-gradient(#653d84, #332042);
    position: relative;
}

.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 40px;
    background: #9c9898;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

.login_box {
    width: 1100px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
    padding:0px;
}

    .login_box .left {
        width: 41%;
        height: 100%;
        padding: 25px 25px;
    }

    .login_box .right {
        width: 59%;
        height: 100%
    }

.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}

.left .top_link {
    height: 20px
}

.left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left h3 {
    text-align: center;
    margin-bottom: 20px;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}






.right {
    background: linear-gradient(212.38deg, rgba(185 169 175 / 70%) 0%, rgba(117 106 118 / 71%) 100%),url(../imagenes/fondo3.png);
    color: #fff;
    position: relative;
}

    .right .right-text {
        height: 0%;
        position: relative;
        transform: translate(0%, 45%);
    }

.right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
}

.right-text h5 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.pet {
    width: 4rem;
    height: 4rem;
    border-radius:10px;
}

.card {
    background-color: rgba(255, 255, 255, 0.322);
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(170, 105, 105, 0.473);
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    text-align: center;
    width: 7rem;
    height: 8rem;
    align-items: center;
    display: flex;
}

.cardsU {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 150px;
}

.p {
    margin-top: 110px;
    text-align: center;
}

h2 {
    margin-top: 50px;
    color: white;
    font-size: 5vw;
    text-align: center;
}

.right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}

.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
